.foto-person__wrapper{
    flex-basis: 296px;
    text-align: left;
    align-items: center;
}
@media screen and (max-width:360px){          /* 320*/
.foto-person__wrapper{
    display: flex;
    flex-flow: column;
    flex-basis: auto;    
}
} 
@media screen and (min-width:361px) and (max-width:700px){     /*375*/
.foto-person__wrapper{
    display: flex;
    flex-flow: column;
    flex-basis: auto;

}
}
@media screen and (min-width:701px) and (max-width:1000px){     /*768*/
.foto-person__wrapper{
    display: flex;
    flex-flow: column;
    flex-basis: auto;
    margin-top: 50px;
}
}
@media screen and (min-width:1001px) and (max-width:1200px){     /*1024*/
.foto-person__wrapper{

}
}
@media screen and (min-width:1201px) and (max-width:1400px){     /*1280*/
.foto-person__wrapper{
flex-basis: 396px;
}
}
@media screen and (min-width:1401px) {     /*1440*/
.foto-person__wrapper{
    flex-basis: 381px;
}
}