/* @import url(./_card/_author/foto-person__card_author.css);
@import url(./_card/_citate/foto-person__card_citate.css);
@import url(./_card/_image/foto-person__card_image.css);
@import url(./_card/foto-person__card.css); */
@import url(./__wrapper/foto-person__wrapper.css);
@import url(./__author/foto-person__author.css);
@import url(./__citate/foto-person__citate.css);
@import url(./__image/foto-person__image.css);

.foto-person {

    display: flex;
    justify-content: center;
    margin-bottom: 102px;
    column-gap: 16px;

}

@media screen and (max-width:360px) {

    /* 320*/
    .foto-person {
        flex-flow: column;
        align-items: center;
        margin-bottom: 48px;
    }
}

@media screen and (min-width:361px) and (max-width:700px) {

    /*375*/
    .foto-person {
        flex-flow: column;
        align-content: center;
        margin-bottom: 31px;
    }
}

@media screen and (min-width:701px) and (max-width:1000px) {

    /*768*/
    .foto-person {
        flex-flow: column;
        align-content: center;
        margin-bottom: 97px;
    }
}

@media screen and (min-width:1001px) and (max-width:1200px) {

    /*1024*/
    .foto-person {

        align-content: center;
        margin-bottom: 97px;
    }
}

@media screen and (min-width:1201px) and (max-width:1400px) {

    /*1280*/
    .foto-person {
        align-content: center;
        margin-bottom: 97px;
        width: calc(100% + 200px);
        margin-left: -100px;

    }
}

@media screen and (min-width:1401px) {

    /*1440*/
    .foto-person {
        align-content: center;
        margin-bottom: 97px;
        width: calc(100% + 200px);
        margin-left: -100px;
    }
}