.info-title_place_intro{
   font-weight: bold;

}
@media screen and (max-width:360px){          /* 320*/
   .info-title_place_intro{
       font-size: 32px;
       line-height: 35px;
       margin-bottom: 32px;
       margin: 64px 0px 41px;
       width:230px;
   }
   } 
   @media screen and (min-width:361px) and (max-width:700px){     /*375*/
   .info-title_place_intro{
       font-size: 32px;
       line-height: 35px;
          margin: 64px 0px 28px;
          width: 230px;
   }
   }
   @media screen and (min-width:701px) and (max-width:1000px){     /*768*/
   .info-title_place_intro{
       font-size: 54px;
       line-height: 59px;
       margin-bottom: 48px;
       margin: 74px 0px 32px;
       width: 716px;
   }
   }
   @media screen and (min-width:1001px) and (max-width:1200px){     /*1024*/
   .info-title_place_intro{
       font-size: 54px;
       line-height: 59px;
       margin-bottom: 48px;
       margin: 74px 0px 35px;
   }
   }
   @media screen and (min-width:1201px) and (max-width:1400px){     /*1280*/
   .info-title_place_intro{
       font-size: 54px;
       line-height: 59px;
       margin-bottom: 48px;
       margin: 74px 0px 31px;
   }
   }
   @media screen and (min-width:1401px) {     /*1440*/
   .info-title_place_intro{
       font-size: 54px;
       line-height: 59px;
       margin-bottom: 48px;
       margin: 83px 0px 34px;
   }
   }