@import url(./__conteiner/video__conteiner.css);
@import url(./__iframe/video__iframe.css);
@import url(./__iframes/video__iframes.css);
@import url(./__marker/video__marker.css);
@import url(./__time/video__time.css);
@import url(./__text/video__text.css);
@import url(./__iframe-fon/video__iframe-fon.css);
@import url(./__description/video__description.css);
@import url(./__title/video__title.css);
@import url(./__time/_two-rows/video__time_two-rows.css);



@media screen and (max-width:360px){          /* 320*/
    .video{
        width:100%;
        margin-bottom: 64px;
    }
    } 
    @media screen and (min-width:361px) and (max-width:700px){     /*375*/
    .video{
        width:100%;
        margin-bottom: 64px;
    }
    }
    @media screen and (min-width:701px) and (max-width:1000px){     /*768*/
    .video{
        width:100%; 
        margin-bottom: 102px;
    }
    }
    @media screen and (min-width:1001px) and (max-width:1200px){     /*1024*/
    .video{
        width:100%;
        margin-bottom: 108px;
    }
    }
    @media screen and (min-width:1201px) and (max-width:1400px){     /*1280*/
    .video{
      width:calc(100% + 200px);
      margin-left: -100px; 
      margin-bottom: 86px;
    }
    }
    @media screen and (min-width:1401px) {     /*1440*/
    .video{
       width:calc(100% + 200px);
       margin-left: -100px;
       margin-bottom: 82px;
    }
    }