@import url(./__image/baykal__image.css);
@import url(../baykal/__fon/baykal__fon.css);

.baykal{

}

  @media screen and (max-width:360px){          /* 320*/
    .baykal{
        width:calc(100% + 32px);
        margin-left: -16px;
        margin-bottom:64px;
    }
  } 
  @media screen and (min-width:361px) and (max-width:700px){     /*375*/
    .baykal{
        width:calc(100% + 32px);
        margin-left: -16px;
        margin-bottom:64px;
    }
  }
  @media screen and (min-width:701px) and (max-width:1000px){     /*768*/
    .baykal{
        width:calc(100% + 48px);
        margin-left: -24px;
        margin-bottom:102px;
    }
  }
  @media screen and (min-width:1001px) and (max-width:1200px){     /*1024*/
    .baykal{
        width:calc(100% + 96px);
        margin-left: -48px;
        margin-bottom:146px;
    }
  }
  @media screen and (min-width:1201px) and (max-width:1400px){     /*1280*/
    .baykal{
      width:calc(100% + 200px);
      margin-left: -100px;
      margin-bottom:148px;
    }
  }
  @media screen and (min-width:1401px) {     /*1440*/
    .baykal{
      width:calc(100% + 200px);
      margin-left: -100px;
      margin-bottom:150px;
    }
  }
   
