.info-subtitle_place_baykal{

      font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
padding:0px 0px;
   
    
 
}
.odin{
  text-decoration: none;
}

@media screen and (max-width:360px){          /* 320*/
.info-subtitle_place_baykal{
  padding-bottom:24px;
  font-size: 14px;
  line-height: 17px;
  margin:0px 16px;
}
} 
@media screen and (min-width:361px) and (max-width:700px){     /*375*/
.info-subtitle_place_baykal{
  padding-bottom:24px;
  margin:0px 50px;
  font-size: 14px;
  line-height: 17px;

}
}
@media screen and (min-width:701px) and (max-width:1000px){     /*768*/
.info-subtitle_place_baykal{
  padding-bottom:40px;
  font-size: 18px;
  line-height: 26px;
  margin:0px 180px;
}
}
@media screen and (min-width:1001px) and (max-width:1200px){     /*1024*/
.info-subtitle_place_baykal{
  padding-bottom:48px;
  font-size: 18px;
  line-height: 26px;
  margin:0px auto;
  width: 380px;
}
}
@media screen and (min-width:1201px) and (max-width:1400px){     /*1280*/
.info-subtitle_place_baykal{
  padding-bottom:48px;
  font-size: 18px;
  line-height: 26px;
  margin:0px 386px;
}
}
@media screen and (min-width:1401px) {     /*1440*/
.info-subtitle_place_baykal{
  padding-bottom:48px;
  font-size: 18px;
  line-height: 26px;
  margin:0px 400px;
}
}
